@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    margin: 0;
    size: auto;
  }
  body {
    background: white;
  }
}

/* iOS PWA Safe Area Fix */
body {
  padding-bottom: env(safe-area-inset-bottom);
}
